<div id="editor_wrapper">
  <div id="koan_editor" class="editor source"></div>
</div>
<div id="runner_wrapper">
  <div id="koan_runner">
	<select id="koan_select"></select>
    <a class="try-it big button" href="#">Meditate again</a>
    <div class="spec-results">
    </div>
  </div>
