
<div class="body-wrap">
	<div id="editor_wrapper" class="span8">
		<div id="koan_editor" class="editor source"></div>
	</div>
	<div id="runner_wrapper">
		<div id="koan_runner" class="span8">
			<a class="try-it big button" href="#">Meditate again</a>
			<div class="spec-results">
		</div>
	</div>
</div>
