<div class="header">
	<h1>Learn CoffeeScript</h1>
</div>
<div class="navigation"><select id="koan_select"></select></div>
<div id="editor_wrapper">
  <div id="koan_editor" class="editor source"></div>
</div>
<div id="runner_wrapper">
  <div id="koan_runner">
    <a class="try-it big button" href="#">Meditate again</a>
    <div class="spec-results">
    </div>
  </div>
